In [1]:
import pandas as pd
import numpy as np
import re
# Load dataset
df = pd.read_csv("Uncleaned_DS_jobs.csv")

# Basic checks
print("Dataset Shape:", df.shape)
print("\nFirst 5 Rows:")
print(df.head())

print("\nDataset Info:")
df.info()

print("\nBasic Statistics:")
print(df.describe(include="all"))
print("\nDuplicate rows before:", df.duplicated().sum())

df = df.drop_duplicates()

print("Duplicate rows after:", df.duplicated().sum())
# Standardize column names
df.columns = (
    df.columns
    .str.lower()
    .str.strip()
    .str.replace(" ", "_")
)

print("\nColumns after standardization:")
print(df.columns)
irrelevant_cols = [
    "job_description_html",
    "company_profile",
    "unnamed:_0"
]

df = df.drop(columns=[c for c in irrelevant_cols if c in df.columns])
print("\nMissing values per column:")
print(df.isna().sum())
# Critical columns
critical_cols = ["job_title", "company_name", "location"]

critical_cols = [c for c in critical_cols if c in df.columns]
df = df.dropna(subset=critical_cols)

# Fill non-critical categorical columns
for col in df.select_dtypes(include="object").columns:
    df[col] = df[col].fillna("unknown")
# Convert salary columns safely
salary_cols = ["min_salary", "max_salary", "avg_salary"]

for col in salary_cols:
    if col in df.columns:
        df[col] = (
            df[col]
            .astype(str)
            .str.replace(r"[^\d]", "", regex=True)
        )
        df[col] = pd.to_numeric(df[col], errors="coerce")

# Remove extreme salary outliers
if "avg_salary" in df.columns:
    q1 = df["avg_salary"].quantile(0.25)
    q3 = df["avg_salary"].quantile(0.75)
    iqr = q3 - q1

    df = df[
        (df["avg_salary"] >= q1 - 1.5 * iqr) &
        (df["avg_salary"] <= q3 + 1.5 * iqr)
    ]
if "location" in df.columns:
    df["location"] = df["location"].str.lower().str.strip()

    # Extract city & state
    df["city"] = df["location"].str.split(",").str[0].str.strip()
    df["state"] = df["location"].str.split(",").str[1].str.strip()
if "job_description" in df.columns:
    df["job_description"] = (
        df["job_description"]
        .str.lower()
        .str.replace(r"<.*?>", "", regex=True)   # remove HTML
        .str.replace(r"[^a-zA-Z ]", " ", regex=True)
        .str.replace(r"\s+", " ", regex=True)
        .str.strip()
    )
if "job_title" in df.columns:
    df["job_title"] = df["job_title"].str.lower().str.strip()

    title_map = {
        "data scientist ii": "data scientist",
        "sr data scientist": "senior data scientist",
        "jr data scientist": "junior data scientist"
    }

    df["job_title"] = df["job_title"].replace(title_map)
print("\nFinal Dataset Shape:", df.shape)

print("\nFinal Missing Values:")
print(df.isna().sum())

assert df.duplicated().sum() == 0, "Duplicates still exist!"

print("\nFinal Dataset Info:")
df.info()
df.to_csv("cleaned_ds_job_postings.csv", index=False)

print("\n‚úÖ Data Science Job Postings cleaned successfully!")
print("üìÅ Saved as: cleaned_ds_job_postings.csv")

Dataset Shape: (672, 15)

First 5 Rows:
   index          Job Title               Salary Estimate  \
0      0  Sr Data Scientist  $137K-$171K (Glassdoor est.)
1      1     Data Scientist  $137K-$171K (Glassdoor est.)
2      2     Data Scientist  $137K-$171K (Glassdoor est.)
3      3     Data Scientist  $137K-$171K (Glassdoor est.)
4      4     Data Scientist  $137K-$171K (Glassdoor est.)

                                     Job Description  Rating  \
0  Description\n\nThe Senior Data Scientist is re...     3.1
1  Secure our Nation, Ignite your Future\n\nJoin ...     4.2
2  Overview\n\n\nAnalysis Group is one of the lar...     3.8
3  JOB DESCRIPTION:\n\nDo you have a passion for ...     3.5
4  Data Scientist\nAffinity Solutions / Marketing...     2.9

              Company Name       Location            Headquarters  \
0         Healthfirst\n3.1   New York, NY            New York, NY
1             ManTech\n4.2  Chantilly, VA             Herndon, VA
2      Analysis Group\n3.8     Boston, MA              Boston, MA
3             INFICON\n3.5     Newton, MA  Bad Ragaz, Switzerland
4  Affinity Solutions\n2.9   New York, NY            New York, NY

                      Size  Founded        Type of ownership  \
0   1001 to 5000 employees     1993   Nonprofit Organization
1  5001 to 10000 employees     1968         Company - Public
2   1001 to 5000 employees     1981  Private Practice / Firm
3    501 to 1000 employees     2000         Company - Public
4      51 to 200 employees     1998        Company - Private

                                Industry             Sector  \
0                     Insurance Carriers          Insurance
1                 Research & Development  Business Services
2                             Consulting  Business Services
3  Electrical & Electronic Manufacturing      Manufacturing
4                Advertising & Marketing  Business Services

                      Revenue  \
0    Unknown / Non-Applicable
1      $1 to $2 billion (USD)
2  $100 to $500 million (USD)
3  $100 to $500 million (USD)
4    Unknown / Non-Applicable

                                         Competitors
0            EmblemHealth, UnitedHealth Group, Aetna
1                                                 -1
2                                                 -1
3  MKS Instruments, Pfeiffer Vacuum, Agilent Tech...
4               Commerce Signals, Cardlytics, Yodlee

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672 entries, 0 to 671
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              672 non-null    int64
 1   Job Title          672 non-null    object
 2   Salary Estimate    672 non-null    object
 3   Job Description    672 non-null    object
 4   Rating             672 non-null    float64
 5   Company Name       672 non-null    object
 6   Location           672 non-null    object
 7   Headquarters       672 non-null    object
 8   Size               672 non-null    object
 9   Founded            672 non-null    int64
 10  Type of ownership  672 non-null    object
 11  Industry           672 non-null    object
 12  Sector             672 non-null    object
 13  Revenue            672 non-null    object
 14  Competitors        672 non-null    object
dtypes: float64(1), int64(2), object(12)
memory usage: 78.9+ KB

Basic Statistics:
             index       Job Title              Salary Estimate  \
count   672.000000             672                          672
unique         NaN             172                           30
top            NaN  Data Scientist  $75K-$131K (Glassdoor est.)
freq           NaN             337                           32
mean    335.500000             NaN                          NaN
std     194.133974             NaN                          NaN
min       0.000000             NaN                          NaN
25%     167.750000             NaN                          NaN
50%     335.500000             NaN                          NaN
75%     503.250000             NaN                          NaN
max     671.000000             NaN                          NaN

                                          Job Description      Rating  \
count                                                 672  672.000000
unique                                                489         NaN
top     Job Overview: The Data Scientist is a key memb...         NaN
freq                                                   12         NaN
mean                                                  NaN    3.518601
std                                                   NaN    1.410329
min                                                   NaN   -1.000000
25%                                                   NaN    3.300000
50%                                                   NaN    3.800000
75%                                                   NaN    4.300000
max                                                   NaN    5.000000

                   Company Name           Location  Headquarters  \
count                       672                672           672
unique                      432                207           229
top     Maxar Technologies\n3.5  San Francisco, CA  New York, NY
freq                         12                 69            33
mean                        NaN                NaN           NaN
std                         NaN                NaN           NaN
min                         NaN                NaN           NaN
25%                         NaN                NaN           NaN
50%                         NaN                NaN           NaN
75%                         NaN                NaN           NaN
max                         NaN                NaN           NaN

                       Size      Founded  Type of ownership Industry  \
count                   672   672.000000                672      672
unique                    9          NaN                 13       58
top     51 to 200 employees          NaN  Company - Private       -1
freq                    135          NaN                397       71
mean                    NaN  1635.529762                NaN      NaN
std                     NaN   756.746640                NaN      NaN
min                     NaN    -1.000000                NaN      NaN
25%                     NaN  1917.750000                NaN      NaN
50%                     NaN  1995.000000                NaN      NaN
75%                     NaN  2009.000000                NaN      NaN
max                     NaN  2019.000000                NaN      NaN

                        Sector                   Revenue Competitors
count                      672                       672         672
unique                      23                        14         108
top     Information Technology  Unknown / Non-Applicable          -1
freq                       188                       213         501
mean                       NaN                       NaN         NaN
std                        NaN                       NaN         NaN
min                        NaN                       NaN         NaN
25%                        NaN                       NaN         NaN
50%                        NaN                       NaN         NaN
75%                        NaN                       NaN         NaN
max                        NaN                       NaN         NaN

Duplicate rows before: 0
Duplicate rows after: 0

Columns after standardization:
Index(['index', 'job_title', 'salary_estimate', 'job_description', 'rating',
       'company_name', 'location', 'headquarters', 'size', 'founded',
       'type_of_ownership', 'industry', 'sector', 'revenue', 'competitors'],
      dtype='object')

Missing values per column:
index                0
job_title            0
salary_estimate      0
job_description      0
rating               0
company_name         0
location             0
headquarters         0
size                 0
founded              0
type_of_ownership    0
industry             0
sector               0
revenue              0
competitors          0
dtype: int64

Final Dataset Shape: (672, 17)

Final Missing Values:
index                 0
job_title             0
salary_estimate       0
job_description       0
rating                0
company_name          0
location              0
headquarters          0
size                  0
founded               0
type_of_ownership     0
industry              0
sector                0
revenue               0
competitors           0
city                  0
state                23
dtype: int64

Final Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672 entries, 0 to 671
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              672 non-null    int64
 1   job_title          672 non-null    object
 2   salary_estimate    672 non-null    object
 3   job_description    672 non-null    object
 4   rating             672 non-null    float64
 5   company_name       672 non-null    object
 6   location           672 non-null    object
 7   headquarters       672 non-null    object
 8   size               672 non-null    object
 9   founded            672 non-null    int64
 10  type_of_ownership  672 non-null    object
 11  industry           672 non-null    object
 12  sector             672 non-null    object
 13  revenue            672 non-null    object
 14  competitors        672 non-null    object
 15  city               672 non-null    object
 16  state              649 non-null    object
dtypes: float64(1), int64(2), object(14)
memory usage: 89.4+ KB

‚úÖ Data Science Job Postings cleaned successfully!
üìÅ Saved as: cleaned_ds_job_postings.csv